<h1>{% if section.settings.title == blank %}
    {{ 'general.404.title' | t }}
{% else %}
    {{ section.settings.title }}
{% endif %}</h1>
<p>{% if section.settings.subtext == blank %}
    {{ 'general.404.subtext_html' | t }}
{% else %}
    {{ section.settings.subtext }}
{% endif %}</p>

{% schema %}
{
"name": "Template 404",
"settings": [
{
"type": "text",
"id": "title",
"default": "",
"label": "404 Heading Title"
},
{
"type": "text",
"id": "subtext",
"default": "",
"label": "404 subtext"
}
]
}
{% endschema %}