{% paginate collection.products by section.settings.product_limit%}
{% for product in collection.products %}

{% else %}
{% if section.settings.no_collections == blank %}
    {% assign no_collections = 'general.Collection.no_collections' | t %}
{% else %}
    {% assign no_collections = section.settings.no_collections%}
{% endif %}

        <p>{{ no_collections }}</p>
{% endfor %}
{% endpaginate %}

{% schema %}
{
"name": "Collections",
"settings": [
{
"type": "number",
"id": "product_limit",
"label": "Product limit",
"default": 12
},
{
    "type": "text",
    "id": "no_collections",
    "label": "No Collections Text",
    "default": "There are no products in the collection"
}
],
"blocks": []
}
{% endschema %}